<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EASendMail" version="7.8.0.7" targetFramework="net48" />
  <package id="MaterialSkin.2" version="2.3.1" targetFramework="net48" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.1484.0" targetFramework="net461" />
  <package id="Microsoft.SqlServer.Types" version="14.0.1016.290" targetFramework="net461" />
  <package id="PDFsharp" version="1.50.5147" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net48" />
  <package id="taglib" version="2.1.0.0" targetFramework="net45" />
  <package id="Topshelf" version="4.3.0" targetFramework="net48" />
  <package id="WMPLib" version="1.0.0" targetFramework="net45" developmentDependency="true" />
</packages>